@import '@Scss/colors.scss';
.client {
  background: #fff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  .balance {
    margin: 0px 9px;
    font-weight: normal;
    font-size: 14px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }
  .accIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: $borderColor;
    margin: 0px 9px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .phone {
    margin: 0px 0px 0px 9px;
    font-weight: normal;
    font-size: 14px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #000;
  }
}
