@import '@Scss/colors.scss';
.client {
  background: #F1F3F5 !important;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 158px;


  .phone {
    margin: 0px 0px 0px 9px;
    font-weight: normal;
    font-size: 14px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #000;
    background-color: #F1F3F5 !important;
  }
}
