@import '@Scss/colors';
.root {
  margin-right: 75px;
  font-family: Montserrat;
  text-transform: none;
  // left: -($mobile-width + 30);
  // width: 100%;
  .menuListWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 69px;
    margin-right: 15px;
    .listWrapper {
      width: 60%;
      .listHeader {
        font-weight: normal;
        font-size: 12px;
        color: #495057;
        display: flex;
        align-items: center;
        padding: 0px;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        &__rotate {
          transform: rotate(180deg);
        }
      }
      .list {
        list-style: none;
        padding: 0px;
        padding-right: 10px;
        // :hover {
        //   background: #878E9533;
        //   border-radius: 10px;
        //   width: 170px;
        //   height: 40px;
        // }
        .listItem {
          width: 170px;
          height: 40px;
          cursor: pointer;
          font-weight: 500;
          font-size: 14px;
          line-height: 17.07px;
          // margin: 15px 0px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: transparent;
          border: none;
          outline: none;
          padding: 0px;
          border-radius: 10px;

          :active {
            color: $appBlue;
          }
          
          div {
            display: flex;
            align-items: center;
          }
          .listItemRootText {
            width: 100%;
            text-align: left;
            padding-left: 10px;
          }
          .listItemRootTextAdmin {
            width: 65%;
            text-align: left;
            

          }
          .listItemRootIcon {
            width: 20px;
            height: 20px;
          }
          
        }

        .listItem {
          width: 160px;
          height: 45px;
          cursor: pointer;
          font-weight: 500;
          font-size: 14px;
          line-height: 17.07px;
          margin: 10px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: transparent;
          border: none;
          outline: none;
          padding: 0px;
          border-radius: 10px;

          :active {
            color: $appBlue;
          }
        }
        // .listItemActive {
        //   color: $appBlue;
        //   svg {
        //     path {
        //       fill: $appBlue;
        //     }
        //   }
        // }
        // .listItemTextActive {
        //   // text-decoration: underline;
        // }
      }

      .iconSidebar{
        margin-left: 15px;
        height: 15px;
        width: 15px;
      }

      .list_admin {
        width: min-content;
        margin-right: 5px;

        .admin_side {
          color: #7c7c7c;
          display: flex;
          // text-align: justify;
          
          .admin_side_info {
            margin: 5px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}