@import '@Scss/colors';
.root {
  &__header {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin: 35px 0px;
  }
  &__before_link {
    a {
      text-decoration: none;
    }
  }
  &__form_appeal {
    min-width: 380px;
    max-width: 380px;
    margin-top: 35px;
    &__select_wrapper,
    &__textarea_wrapper {
      &__header {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
      }
      &__input {
        width: 100%;
        margin: 15px 0px;
      }
    }
  }
  &__form_file_appeal {
    margin-top: 30px;
    &__label {
      &__load_text {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        color: $appBlue;
      }
      &__helper_text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        color: $appDarkGrey;
      }
      cursor: pointer;
      input {
        display: none;
      }
    }
  }
  &__submit_form {
    margin-top: 30px;
    min-width: 180px;
    max-width: 180px;
  }
}
