.root {
  display: flex;
  flex-direction: column;

  &__header {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    position: relative;
    top: 200px;
    left: 640px;
  }
  &_logo {
    width: 160px;
    height: 43px;
    
  }
}
.login {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 35px;
  width: 380px;
  height: 295px;
  // left: 530px;

  &_form {
    display: flex;
    flex-direction: column;

  }
}