@import '@Scss/colors';
.root {
  width: 100%;
  font-family: Montserrat, sans-serif !important;
  &__header_container {
    display: flex;
    align-items: center;
    /* margin-left: 20px;
    margin-right: 130px; */
    height: 144px;
    &__wrapper {
      display: flex;
      flex-direction: column;
      &__name {
        font-weight: normal;
        font-size: 36px;
      }
      &__context {
        font-weight: normal;
        font-size: 14px;
      }
    }
  }
  .root__header_container__wrapper__name {
    font-weight: bold;
  }
  .create_object_wrapper {
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__add_btn {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 20px;
      border: none;
      background-color: #F8F9FA;
      cursor: pointer;
    }
    &__filters {
      display: flex;
      justify-content: space-between;
      &__col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }
  &__active_objects {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 35px 0px;
  }
}
/* table object statuses card */
/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.menuList {
  font-weight: 500;
  font-size: 15 !important;
  border-radius: 10px;
  line-height: 18.29px

}
// .menuList_obj {
//   font-weight: 500;
//   font-size: 15 !important;
//   border-radius: 10px;
//   line-height: 18.29px

// }
// .btn_menu_button {
//   border-radius: 10px;
//   border: #CED2DC;
//   color: red;
// }