@import 'mixins';
$marginEls: 10px 0px;
.root {
  @include mixFormWrapper();
  &__checkboxes_wrapper {
    margin-top: 35px;
    &__input {
      margin: $marginEls;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__label {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
      }
    }
    &__header {
      margin: $marginEls;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
    }
  }
}
